# EDA

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
df = pd.read_csv('Mreid.csv',sep=',')
df

def color_back(val):
    color = 'blue'  
    return f'background-color: {color}'
styled_df = df.head().style.applymap(color_back)
styled_df

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329543 entries, 0 to 329542
Data columns (total 22 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   iso3_o                            329543 non-null  object
 1   country_o                         329543 non-null  object
 2   iso3_d                            329543 non-null  object
 3   country_d                         329543 non-null  object
 4   year                              329543 non-null  int64
 5   naics2                            329543 non-null  int64
 6   naics2description                 329543 non-null  object
 7   extensive                         329543 non-null  int64
 8   greenfield                        329543 non-null  int64
 9   mergers                           329543 non-null  int64
 10  OperatingrevenueTurnover          329543 non-null  float64
 11  OperatingrevenueTurnover_green    329543 non-null  float64
 12  OperatingrevenueTurnover_mergers  329543 non-null  float64
 13  TotalassetsthUSD                  329543 non-null  float64
 14  TotalassetsthUSD_green            329543 non-null  float64
 15  TotalassetsthUSD_mergers          329543 non-null  float64
 16  Numberofemployees                 329543 non-null  float64
 17  Numberofemployees_green           329543 non-null  int64
 18  Numberofemployees_mergers         329543 non-null  int64
 19  FixedassetsthUSD                  329543 non-null  float64
 20  FixedassetsthUSD_green            329543 non-null  float64
 21  FixedassetsthUSD_mergers          329543 non-null  float64
dtypes: float64(10), int64(7), object(5)
memory usage: 55.3+ MB

In [4]:
df.describe().T.style.background_gradient(axis=1)

In [5]:
df.columns.to_list()

['iso3_o',
 'country_o',
 'iso3_d',
 'country_d',
 'year',
 'naics2',
 'naics2description',
 'extensive',
 'greenfield',
 'mergers',
 'OperatingrevenueTurnover',
 'OperatingrevenueTurnover_green',
 'OperatingrevenueTurnover_mergers',
 'TotalassetsthUSD',
 'TotalassetsthUSD_green',
 'TotalassetsthUSD_mergers',
 'Numberofemployees',
 'Numberofemployees_green',
 'Numberofemployees_mergers',
 'FixedassetsthUSD',
 'FixedassetsthUSD_green',
 'FixedassetsthUSD_mergers']

In [16]:
exchange_rates_df = pd.read_csv('exchange_rates.csv')
exchange_rates_df.head()

   year  exchange_rate
0  2010        0.77303
1  2011        0.70676
2  2012        0.81538
3  2013        0.76155
4  2014        0.73935

In [17]:
merged_df = pd.merge(df, exchange_rates_df, on='year')
merged_df.tail()

,iso3_o,country_o,iso3_d,country_d,year,naics2,naics2description,extensive,greenfield,mergers,...,TotalassetsthUSD,TotalassetsthUSD_green,TotalassetsthUSD_mergers,Numberofemployees,Numberofemployees_green,Numberofemployees_mergers,FixedassetsthUSD,FixedassetsthUSD_green,FixedassetsthUSD_mergers,exchange_rate
329538,ZWE,Zimbabwe,MUS,Mauritius,2021,99,Unclassified Establishments,1,0,0,...,4.578577e+03,0.0,0.0,0.0,0,0,4339.856445,0.0,0.0,0.84711
329539,ZWE,Zimbabwe,ZMB,Zambia,2021,31,Food and Textile Manufacturing,1,0,1,...,0.000000e+00,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,0.84711
329540,ZWE,Zimbabwe,ZWE,Zimbabwe,2021,11,"Agriculture, Forestry, Fishing and Hunting",1,0,0,...,0.000000e+00,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,0.84711
329541,ZWE,Zimbabwe,ZWE,Zimbabwe,2021,21,Oil and Gas Extraction,1,0,0,...,0.000000e+00,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,0.84711
329542,ZWE,Zimbabwe,ZWE,Zimbabwe,2021,52,Finance and Insurance,4,0,0,...,2.251601e+06,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,0.84711

In [8]:
merged_df

,iso3_o,country_o,iso3_d,country_d,year,naics2,naics2description,extensive,greenfield,mergers,...,TotalassetsthUSD,TotalassetsthUSD_green,TotalassetsthUSD_mergers,Numberofemployees,Numberofemployees_green,Numberofemployees_mergers,FixedassetsthUSD,FixedassetsthUSD_green,FixedassetsthUSD_mergers,exchange_rate
0,ABW,Aruba,NLD,Netherlands,2010,42,Wholesale Trade,0,0,0,...,0.000000e+00,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,0.77303
1,ABW,Aruba,NLD,Netherlands,2010,51,Information,0,0,0,...,0.000000e+00,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,0.77303
2,ABW,Aruba,NLD,Netherlands,2010,53,Real Estate,3,0,0,...,0.000000e+00,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,0.77303
3,ABW,Aruba,NLD,Netherlands,2010,54,Legal Services,1,0,0,...,0.000000e+00,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,0.77303
4,ABW,Aruba,NLD,Netherlands,2010,55,Management of Companies and Enterprises,1,1,0,...,0.000000e+00,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,0.77303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329538,ZWE,Zimbabwe,MUS,Mauritius,2021,99,Unclassified Establishments,1,0,0,...,4.578577e+03,0.0,0.0,0.0,0,0,4339.856445,0.0,0.0,0.84711
329539,ZWE,Zimbabwe,ZMB,Zambia,2021,31,Food and Textile Manufacturing,1,0,1,...,0.000000e+00,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,0.84711
329540,ZWE,Zimbabwe,ZWE,Zimbabwe,2021,11,"Agriculture, Forestry, Fishing and Hunting",1,0,0,...,0.000000e+00,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,0.84711
329541,ZWE,Zimbabwe,ZWE,Zimbabwe,2021,21,Oil and Gas Extraction,1,0,0,...,0.000000e+00,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,0.84711
329542,ZWE,Zimbabwe,ZWE,Zimbabwe,2021,52,Finance and Insurance,4,0,0,...,2.251601e+06,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,0.84711

In [9]:
#example of the idea 
if 'FixedassetsthUSD' in merged_df.columns:
    merged_df['FixedassetsEUR'] = merged_df['FixedassetsthUSD'] * merged_df['exchange_rate']
print(merged_df[['year', 'FixedassetsthUSD', 'FixedassetsEUR']])

        year  FixedassetsthUSD  FixedassetsEUR
0       2010          0.000000        0.000000
1       2010          0.000000        0.000000
2       2010          0.000000        0.000000
3       2010          0.000000        0.000000
4       2010          0.000000        0.000000
...      ...               ...             ...
329538  2021       4339.856445     3676.335793
329539  2021          0.000000        0.000000
329540  2021          0.000000        0.000000
329541  2021          0.000000        0.000000
329542  2021          0.000000        0.000000

[329543 rows x 3 columns]

In [18]:
columns_to_convert = [
    'OperatingrevenueTurnover' ,'OperatingrevenueTurnover_green','OperatingrevenueTurnover_mergers' ,'FixedassetsthUSD', 'FixedassetsthUSD_green', 'FixedassetsthUSD_mergers',
    'TotalassetsthUSD', 'TotalassetsthUSD_green', 'TotalassetsthUSD_mergers'
]


for column in columns_to_convert:
    if column in merged_df.columns:
        if column in ['OperatingrevenueTurnover', 'OperatingrevenueTurnover_green', 'OperatingrevenueTurnover_mergers']:
            new_column_name = f"{column}{{EUR}}"
        else:
            new_column_name = column.replace('USD', 'EUR')
        merged_df[new_column_name] = merged_df[column] * merged_df['exchange_rate']
merged_df[new_column_name] = merged_df[column] * merged_df['exchange_rate']

merged_df

,iso3_o,country_o,iso3_d,country_d,year,naics2,naics2description,extensive,greenfield,mergers,...,exchange_rate,OperatingrevenueTurnover{EUR},OperatingrevenueTurnover_green{EUR},OperatingrevenueTurnover_mergers{EUR},FixedassetsthEUR,FixedassetsthEUR_green,FixedassetsthEUR_mergers,TotalassetsthEUR,TotalassetsthEUR_green,TotalassetsthEUR_mergers
0,ABW,Aruba,NLD,Netherlands,2010,42,Wholesale Trade,0,0,0,...,0.77303,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000e+00,0.0,0.0
1,ABW,Aruba,NLD,Netherlands,2010,51,Information,0,0,0,...,0.77303,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000e+00,0.0,0.0
2,ABW,Aruba,NLD,Netherlands,2010,53,Real Estate,3,0,0,...,0.77303,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000e+00,0.0,0.0
3,ABW,Aruba,NLD,Netherlands,2010,54,Legal Services,1,0,0,...,0.77303,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000e+00,0.0,0.0
4,ABW,Aruba,NLD,Netherlands,2010,55,Management of Companies and Enterprises,1,1,0,...,0.77303,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000e+00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329538,ZWE,Zimbabwe,MUS,Mauritius,2021,99,Unclassified Establishments,1,0,0,...,0.84711,2415.999496,0.0,0.0,3676.335793,0.0,0.0,3.878558e+03,0.0,0.0
329539,ZWE,Zimbabwe,ZMB,Zambia,2021,31,Food and Textile Manufacturing,1,0,1,...,0.84711,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000e+00,0.0,0.0
329540,ZWE,Zimbabwe,ZWE,Zimbabwe,2021,11,"Agriculture, Forestry, Fishing and Hunting",1,0,0,...,0.84711,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000e+00,0.0,0.0
329541,ZWE,Zimbabwe,ZWE,Zimbabwe,2021,21,Oil and Gas Extraction,1,0,0,...,0.84711,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000e+00,0.0,0.0
329542,ZWE,Zimbabwe,ZWE,Zimbabwe,2021,52,Finance and Insurance,4,0,0,...,0.84711,379383.154993,0.0,0.0,0.000000,0.0,0.0,1.907353e+06,0.0,0.0

In [19]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 329543 entries, 0 to 329542
Data columns (total 32 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   iso3_o                                 329543 non-null  object
 1   country_o                              329543 non-null  object
 2   iso3_d                                 329543 non-null  object
 3   country_d                              329543 non-null  object
 4   year                                   329543 non-null  int64
 5   naics2                                 329543 non-null  int64
 6   naics2description                      329543 non-null  object
 7   extensive                              329543 non-null  int64
 8   greenfield                             329543 non-null  int64
 9   mergers                                329543 non-null  int64
 10  OperatingrevenueTurnover               329543 non-null  float64
 11  OperatingrevenueTurnover_green         329543 non-null  float64
 12  OperatingrevenueTurnover_mergers       329543 non-null  float64
 13  TotalassetsthUSD                       329543 non-null  float64
 14  TotalassetsthUSD_green                 329543 non-null  float64
 15  TotalassetsthUSD_mergers               329543 non-null  float64
 16  Numberofemployees                      329543 non-null  float64
 17  Numberofemployees_green                329543 non-null  int64
 18  Numberofemployees_mergers              329543 non-null  int64
 19  FixedassetsthUSD                       329543 non-null  float64
 20  FixedassetsthUSD_green                 329543 non-null  float64
 21  FixedassetsthUSD_mergers               329543 non-null  float64
 22  exchange_rate                          329543 non-null  float64
 23  OperatingrevenueTurnover{EUR}          329543 non-null  float64
 24  OperatingrevenueTurnover_green{EUR}    329543 non-null  float64
 25  OperatingrevenueTurnover_mergers{EUR}  329543 non-null  float64
 26  FixedassetsthEUR                       329543 non-null  float64
 27  FixedassetsthEUR_green                 329543 non-null  float64
 28  FixedassetsthEUR_mergers               329543 non-null  float64
 29  TotalassetsthEUR                       329543 non-null  float64
 30  TotalassetsthEUR_green                 329543 non-null  float64
 31  TotalassetsthEUR_mergers               329543 non-null  float64
dtypes: float64(20), int64(7), object(5)
memory usage: 83.0+ MB

In [20]:
merged_df.describe().T.style.background_gradient(axis=1)

In [21]:
merged_df.columns.to_list()

['iso3_o',
 'country_o',
 'iso3_d',
 'country_d',
 'year',
 'naics2',
 'naics2description',
 'extensive',
 'greenfield',
 'mergers',
 'OperatingrevenueTurnover',
 'OperatingrevenueTurnover_green',
 'OperatingrevenueTurnover_mergers',
 'TotalassetsthUSD',
 'TotalassetsthUSD_green',
 'TotalassetsthUSD_mergers',
 'Numberofemployees',
 'Numberofemployees_green',
 'Numberofemployees_mergers',
 'FixedassetsthUSD',
 'FixedassetsthUSD_green',
 'FixedassetsthUSD_mergers',
 'exchange_rate',
 'OperatingrevenueTurnover{EUR}',
 'OperatingrevenueTurnover_green{EUR}',
 'OperatingrevenueTurnover_mergers{EUR}',
 'FixedassetsthEUR',
 'FixedassetsthEUR_green',
 'FixedassetsthEUR_mergers',
 'TotalassetsthEUR',
 'TotalassetsthEUR_green',
 'TotalassetsthEUR_mergers']

In [22]:
merged_df.to_csv('Mreid_conv.csv',sep=',',index=False,encoding='utf-8')